/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
input{
    border: none;
    outline: none;
}

/* FirstPage */

::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #46beff; /* 스크롤바의 색상 */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: hsla(213, 86%, 57%, 0.286);  /*스크롤바 뒷 배경 색상*/
}

#first-page{
    scroll-behavior: smooth;
}

.containers{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    z-index: 0;
}
.containers:nth-child(even){
    background-color: #f2f2f2;
}
.containers:nth-child(2){
    z-index: 1;
}
.containers:nth-child(3){
    z-index: 2;
}

.sticky{
    position: sticky;
    top: 0;
}

/* LoginPage */

#login-form{
    width: min-content;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input{
    width: 280px;
    margin: 5px 0;
    font-size: 16px;
}

.login-input{
    border-bottom: 1px solid #000;
    margin: 8px;
}

.login-button{
    height: 40px;
    background-color: #46beff;
    color: white;
    border-radius: 35px;
}

.login-button:last-child{
    background-color: white;
    border: 1px solid #46beff;
    color: #46beff;
}

.login-button:first-child:hover{
    color:#000;
}

#scroll-sign{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 18px;
    transition: 0.2s ease-out;
    color: #46beff;
}
#mouse-body{
    width: 40px;
    height: 70px;
    box-sizing: border-box;
    border: 3px solid #46beff;
    border-radius: 40px;
    margin: 11px auto 0;
}
#scroller{
    background: #46beff;
    border: 1.5px solid #46beff;
    border-radius: 3px;
    width: 1.5px;
    margin: 8px auto 0;
    box-sizing: border-box;
    height: 10px;
    transform-origin: top;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scroll-remove{
    opacity: 0;
    bottom: 0;
}

@keyframes scroll{
    0% { opacity: 0; }
    0.1% { transform: translateY(0); opacity: 1;}
    100% { transform: translateY(10px); opacity: 0;}
}

/* IntroduceWeb */

#what-is-proteen{
    position: relative;
    display: inline-block;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 600;
}

#introduce-web-paragraph{
    position: relative;
    width: 740px;
    text-align: center;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

/* IntroduceFunction */

#introduce-function-h3{
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight:bold;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#functions-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 40%;
    height: 200px;
}

.function{
    width: 180px;
    background-color: #f2f2f2;
    border-radius: 30px;
}

/* Footer */

#introduce-footer{
    position: sticky;
    top: 0;
    height: 50vh;
    z-index: 3;
    background-color: #eaeaea;
}