@import '/src/Color/Color.scss';

#comment-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    >li {
        box-shadow: 0px 1px 1px gray;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 18px 40px;
        width: 78vw;
        text-align: left;
        box-sizing: border-box;
        margin: auto;
        background-color: white;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .commenter-info {
            display: flex;
            column-gap: 8px;
            align-items: center;

            .commenter {
                font-size: 20px;
            }
            .date {
                color: $dark-gray;
            }
        }
    }
}