@import '/src/Color/Color.scss';

#this-weeks-study-options {
    display: flex;
    justify-content: space-between;

    #this-weeks-study-options-radios {
        display: flex;
        column-gap: 5px;
        > input {
            display: none;

            &:checked+label {
                background-color: $main-blue;
                color: white;
            }
        }
        > label {
            font-size: 24px;
            border: none;
            padding: 10px 42px;
            border-radius: 100px;
            background-color: $main-light-gray;
        }
    }
    #upload-study {
        border: none;
        background-color: $main-light-gray;
        font-size: 24px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 4px;
        padding-left: 24px;
        border-radius: 100px;
    }
}