@import '/src/Color/Color.scss';

#home-ranking {
    width: 1110px;
    margin: 0 auto;

    #home-ranking-title {
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 12px;

        >span {
            font-size: 30px;
            font-weight: bold;
        }

        >img {
            height: 100%;
        }
    }

    #home-ranking-explain {
        font-weight: light;
        font-size: 20px;
        margin-bottom: 20px;
    }

    #home-ranking-contents {
        height: 80px;
        border-radius: 20px;
        border: 3px solid $main-gray;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 24px;
        font-weight: 600;
    }
}