@import '/src/Color/Color.scss';

#this-month-benefits {
    justify-self: flex-end;
    margin-right: 23px;
    margin-top: 25px;

    > div {
        margin-top: 24px;
        width: 370px;
        height: 260px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            > h5 {
                color: $yellow;
            }
            > ul {
                margin-top: 24px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                > li {
                    display: flex;
                    align-items: center;

                    > img {
                        width: 40px;
                    }
                    > div {
                        margin-left: 18px;
                    }
                }
            }
        }
    }
}